/*@import '/pages/currentStockList/currentStockList';*/
.settingsBtn {
  width: inherit;
  text-align: right;
  background: black;
  padding: 5px; }
  .settingsBtn button.settingsIconBtn {
    font-size: 20px;
    width: 37px; }

.refreshBtn {
  text-align: left;
  padding: 5px; }
  .refreshBtn button.refreshIconBtn {
    font-size: 20px;
    width: 37px; }

div.bar-header.headerBar {
  background: black;
  padding: 0; }
  div.bar-header.headerBar h1.title {
    color: white; }

label.searchBox {
  width: 80%;
  justify-content: center;
  margin: 10px auto; }
  label.searchBox i.ion-search.searchBox-icon {
    font-size: 20px; }
  label.searchBox input.searchBox-input {
    width: inherit;
    background: inherit;
    padding: 0 10px; }

.productItem-wrapper {
  display: inline-flex;
  width: 100%;
  margin: 5px 0; }
  .productItem-wrapper div.productItem-name {
    width: 60%;
    font-size: 20px;
    padding: 15px;
    font-weight: bold; }
  .productItem-wrapper div.productItem-stockDiv {
    display: inline-flex; }
    .productItem-wrapper div.productItem-stockDiv div.productItem-stockNumb {
      margin: auto 10px; }
      .productItem-wrapper div.productItem-stockDiv div.productItem-stockNumb span {
        font-size: 20px;
        font-weight: bold; }
    .productItem-wrapper div.productItem-stockDiv button.productItem-stockBtn {
      background: #ECECEC;
      border-radius: 50px;
      height: 52px;
      padding: 0; }
