<ion-view>
	<div class="bar bar-header bar-stable headerBar">

		<div class="refreshBtn">
			<button class="button ion-refresh refreshIconBtn" ng-click="currentStockListCtrl.pageRefreshClicked()"></button>

		</div>
		<h1 class="title">Today's Stock List</h1>
		<div class="settingsBtn">
			<button class="button ion-gear-a settingsIconBtn"></button>
		</div>
	</div>

	<ion-content class="has-header">



		<button class="categoryBtn" ng-click="currentStockListCtrl.groupButtonClicked('Cake')">
			Cake
		</button>

		<button class="categoryBtn" ng-click="currentStockListCtrl.groupButtonClicked('Log')">
			Log
		</button>

		<button class="categoryBtn" ng-click="currentStockListCtrl.groupButtonClicked('Slice')">
			Slice
		</button>

		<!--<button class="categoryBtn" ng-click="currentStockListCtrl.groupButtonClicked('All')">
			All
		</button>-->

		<!--<div>
			<label class="item-input-wrapper searchBox">
				<i class="icon ion-search searchBox-icon"></i>
				<input ng-model="currentStockListCtrl.searchBy" class="searchBox-input" type="search" placeholder="search for Product">
			</label>
		</div>-->

		<div class="group-heading">{{currentStockListCtrl.groupFilter}}</div>

		<!--<product-item ng-repeat="product in currentStockListCtrl.currentProductList | filter:searchBy" product="product"></product-item>
-->
		<product-list current-category="currentStockListCtrl.currentCategory" list="currentStockListCtrl.currentProductList"></product-list>


	</ion-content>
	<!--<ion-footer-bar class="store-location bar-dark">
		<div class="input-label">
			Store location
		</div>
		<select style="padding-left: 10px;">
			<option>New Market</option>
			<option>Dominion Rd</option>
			<option>Queen St</option>
			<option>Harris Rd</option>
		</select>
	</ion-footer-bar>-->
</ion-view>